<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Template.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>Fudge Story Template</title>
  <splash src="Images/Splash.png"/>
</head>

<body>
  <scene>
    <canvas></canvas>

    <speech>
      <name>The name of the character speaking</name>
      <content>The text the character says</content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>
  </scene>
</body>

</html>