html, body {
  width: 100vw;
  height: 100vh;
  margin: 0pc;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}



