# Compiler Stuff
FudgeStory.tsbuildinfo
Template/FudgeStory/FudgeStory.js.map

# Folders
Old

# Scenes
## WS21
End.ts
GameMenu.ts

## SS22
Notes.ts
HowToMakeARadio.ts

## WS22
Texting.ts

# Markdown files
README_NEW.md
