html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.3vmin;
  color: rgb(240, 18, 103);
  user-select: none;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}


/***** SPLASH SCREEN *****/
dialog[type="splash"] {
  background-image: url("Images/Backgrounds/space.jpg");
  /* background-repeat: repeat; */
  /* background-size: contain; */
  width: 100%;
  height: 100%;
}

dialog[type="splash"]>p {
  font-size: 2vmin;
  color: white;
  text-align: center;
}

#FudgeStoryLogo {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}


/***** SPEECH, CONTENT, NAMES *****/
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(57, 16, 24, 0.9);
  width: 100%;
  height: 13%;
}

speech content {
  color: rgb(255, 203, 237);
  font-size: 1.7vmin;
  position: absolute;
  left: 10px;
  /* color: white; */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* font-family: 'Akronim', cursive; 
  font-family: 'Frijole', cursive;
  font-family: 'Macondo', cursive;
  font-family: 'Marhey', cursive;
  font-family: 'Merienda', cursive;
  font-family: 'Reenie Beanie', cursive;
  font-family: 'Rubik Iso', cursive;
  font-family: 'Splash', cursive;
  font-family: 'Yeon Sung', cursive; */
}

name {
  font-size: 2vmin;
  display: block;
  color: rgb(218, 69, 171);
  margin-bottom: 10px;
}


/***** METER BAR *****/
meter::-webkit-meter-bar {
  background-color: #ececec;
}

meter[id="aisakaMeter"] {
  position: absolute;
  transform:rotate(-90deg);
  bottom: 50%;
  left: -14%;
  width: 35%;
  height: 10%;
}


meter[id="aisakaMeter"]::-webkit-meter-optimum-value {
  background-image: linear-gradient(
    90deg, 
    #8bcf69 5%, 
    #e6d450 5%,
    #e6d450 15%,
    #f28f68 15%,
    #f28f68 55%,
    #cf82bf 55%,
    #cf82bf 95%,
    #719fd1 95%,
    #719fd1 100%
  );
  /* background-color: #719fd1; */
}

input[id="scoreForAisaka"] {
  color: rgb(255, 248, 253);
  background-color:rgb(155, 42, 95);
  font-size: 11pt;
  position: absolute;
  left: 1.2%;
  bottom: 19.5%;
  width: 4%;
}